﻿@model LiberoRentACarClasses.Car

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Car</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CarID)

        <div class="form-group">
            @Html.LabelFor(model => model.ModelID, "ModelID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ModelID", String.Empty)
                @Html.ValidationMessageFor(model => model.ModelID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Year, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Year)
                @Html.ValidationMessageFor(model => model.Year)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mileage, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mileage)
                @Html.ValidationMessageFor(model => model.Mileage)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CarCor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CarCor)
                @Html.ValidationMessageFor(model => model.CarCor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LicensePlate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LicensePlate)
                @Html.ValidationMessageFor(model => model.LicensePlate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsAutomatic, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsAutomatic)
                @Html.ValidationMessageFor(model => model.IsAutomatic)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rank, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rank)
                @Html.ValidationMessageFor(model => model.Rank)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
