﻿@model IEnumerable<LiberoRentACarClasses.Car>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.Partial("_CarDetail", item)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CarID }) |
            @Html.ActionLink("Details", "Details", new { id = item.CarID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CarID })
        </td>
    </tr>
}

</table>